* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 50px;
    width: calc(100vw - 30px);
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 1;
    justify-content: end;
    align-items: center;
}

.header-main-container {
    flex-direction: column;
}

.sidebar {
    height: calc(100vh - 50px);
    background-color: black;
}

main {
    height: calc(100vh - 50px);
    width: calc(100vw - 30px);
    background-color: #141922;
}

footer {
    height: 50px;
    width: 100vw;
    position: fixed;
    z-index: 1;
    background-color: #282828;
}

.sidebar-main-container, header, .header-main-container, footer, .full-sidebar, .mobile-sidebar, .row-100-70, .recently-played, .user, .popular, .play-music, .col-30, .col-70, .flex, .foalder-icons, .controllers, .track-control, .played-music {
    display: flex;
}

.main-container {
    width: 85%;
    margin: 0 auto;
}

main {
    overflow-y: auto;
}

.full-sidebar {
    height: calc(100vh - 50px);
    width: 120px;
    background-color: black;
}

.mobile-sidebar {
    height: calc(100vh - 50px);
    width: 30px;
    background-color: black;
}

.sidebar-ico, .logo {
    color: white;
    margin-bottom: 5px;
}

.mobile-sidebar {
    flex-direction: column;
    justify-content: space-between;
}

header button {
    margin-right: 20px;
    padding: 5px 20px;
    color: white;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 20px;
}

.main-container {
    padding-top: 50px;
}

.row-100-70 {
    height: 80px;
    flex-wrap: wrap;
    justify-content: center;
    color: #7d7f84;
}

.nav-element {
    margin: 10px 10px;
    font-size: xx-small;
}

.music-container {
    text-align: center;
    width: 30vw;
    margin-bottom: 30px;
}

.album-title, .music-name {
    color: white;
}

.album-title {
    font-weight: bold;
    font-size: small;
}

.album-subtitle {
    font-size: xx-small;
}

.album-subtitle, .music-details {
    color: #7d7f84;
}

.recently-played .music-container {
    margin-bottom: 30px;
}

.user .music-container, .popular .music-container, .recently-played .music-container {
    margin-right: 10px;
    margin-left: 10px;
}

.album-img img, .row-100-70, .bkg-grey, .row-100-40, .row-100, .vol, .timebar {
    width: 100%;
}

.recently-played .album-img {
    position: relative;
}

.recently-played, .user, .popular {
    flex-wrap: wrap;
    justify-content: start;
}

.play-music {
    color: white;
    scale: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -25%);
}

.bkg-grey {
    background-color: #000000bb;
    height: 97.5%;
    position: absolute;
    box-shadow: 0px 0px 20px rgb(37, 37, 37);
}

.evanescent {
    opacity: 0;
    transition: all 0.25s;
}

.evanescent:hover{
    opacity: 1;
}

.col-33 {
    height: 50px;
    width: calc(100% / 3);
}

.played-music {
    width: 70px;
    height: 100%;
}

.col-30 {
    width: 30%;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.col-70 {
    width: 70%;
    align-items: center;
}

.col-30 img {
    width: 90%;
}

.music-details, .music-name {
    font-size: xx-small;
    margin-left: 10px;
}

.music-details:hover {
    text-decoration: underline;
    color: white;
}

.flex-right {
    justify-content: end;
}

.foalder-icons {
    margin-left: 10px;
    flex-direction: column;
    justify-content: center;
}

.controllers {
    width: 100px;
    align-items: center;
    justify-content: space-between;
}

.footer-icon-right {
    width: 10%;
    margin-right: 5px;
}

.vol {
    width: 60%;
}

.time {
    width: 10%;
    scale: 0.5;
    color: #797c81;
    margin: 0px 10px;
}

.timebar {
    width: 70%;
}

.row-100 {
    justify-content: center;
}

.row-100-40 {
    justify-content: space-around;
}

.track-control {
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sidebar-svg-ico {
    scale: 0.7;
    filter: invert(50%);
}

.download-ico {
    scale: 0.5;
}

.profile {
    background-color: grey;
    border-radius: 100%;
    scale: 0.8;
}

.foalder-icons .footer-icon {
    color: grey;
    scale: 0.6;
}

.row-100-40 .center-icon {
    scale: 0.7;
    color: white;
}

.row-100-40 .center-icon .fa-circle-play {
    scale: 1.8;
}

.footer-icon-right {
    color: white;
    scale: 0.6;
}

h2 {
    color: white;
    margin: 15px 0px;
}

h4 {
    color: #797c81;
    font-weight: normal;
    font-size: xx-small;
    margin: 15px 0px;
}

.music-information {
    scale: 0.65;
}

.margin {
    filter: none;
}

.radius-img img {
    border-radius: 50%;
}

.white-hover:hover {
    color: white;
}

.padding-hover {
    transition: all 0.25s;
}

.padding-hover:hover {
    padding: 10px 30px;
    margin-right: 10px;
    font-size: 15px;
}

footer .vol {
    margin: 0px 5px;
}

.green-bar {
    margin: 0 auto;
    background-color: green;
    border-radius: 2px;
    margin-top: 5px;
    transition: all;
    transition-delay: 0.25s;
}

.green-bar-hover:hover .green-bar{
    animation: greenbar 0.25s linear;
    width: 80%;
    height: 5px;
}

.margin-transition {
    transition: all 0.25s;
}

.margin-transition:hover {
    margin-left: 10px;
}

.white-hover:hover i {
    background-color: white;
}

.vol {
    -webkit-appearance: none;
    height: 5px;
    background: #5a5a5a;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 2px;
  }

  .vol::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 5px;
    background: #c1c1c1;
    cursor: pointer;
  }
  
  .vol::-moz-range-thumb {
    width: 5px;
    height: 5px;
    background: #c1c1c1;
    cursor: pointer;
    border: none;
    opacity: 0;
  }
  .vol::-moz-range-progress {
    background-color: #c1c1c1;
    height: 5px;
    border-radius: 2px;
  }
  
  .timebar {
    -webkit-appearance: none;
    height: 5px;
    background: #5a5a5a;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 2px;
  }

  .timebar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 5px;
    background: #c1c1c1;
    cursor: pointer;
  }
  
  .timebar::-moz-range-thumb {
    width: 5px;
    height: 5px;
    background: #c1c1c1;
    cursor: pointer;
    border: none;
    transition: all 0.1s;
  }
  .timebar::-moz-range-progress {
    background-color: #c1c1c1;
    height: 5px;
    border-radius: 2px;
    transition: all 0.1s;
  }

  .time {
    position: relative;
    bottom: 7px;
  }

  .track-control:hover .timebar::-moz-range-progress {
    background-color: green;
  }

  .track-control:hover .timebar::-moz-range-thumb {
    background: green;
    height: 10px;
    width: 10px;
    border: 2px solid white;
  }

  .music-container {
    transition: all 0.25s;
  }

  .music-container:hover {
    scale: 1.1;
  }
@keyframes greenbar {
    0% {width: 0%;
        height: 5px;
    }
    25% {width: 20%;
        height: 5px;
    }
    50% {width: 40%;
        height: 5px;
    }
    75% {width: 60%;
        height: 5px;
    }
    100% {width: 80%;
        height: 5px;
    }
}
@media screen and (min-width: 481px) {
    .music-container {
        width: 15vw;
    }
    .mobile-sidebar {
        display: none;
    }
    .full-sidebar {
        display: block;
    }
    main, header {
        width: calc(100vw - 120px);
    }
    .full-logo, .full-sidebar-ico, .mid-sidebar-elements, h3, .playlist-creation {
        color: white;
    }
    .full-sidebar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .mid-sidebar-elements {
        overflow-y: auto;
    }
    .sidebar-svg-ico, .download-ico, .profile {
        width: 20%;
    }

    .margin {
        margin-top: 10px;
    }
    .ico-name {
        font-size: xx-small;
        margin-left: 10px;
    }
    .ico-container {
        display: flex;
        align-items: center;
        color: #797c81;
    }
    .ico-container .margin {
        color: white;
    }
   .playlist-creation, .mid-sidebar-elements {
        margin-left: 5px;
        font-size: small;
    }
    h3 {
        margin: 10px 5px;
        font-size: small;
    }
    .playlist-creation {
        color: #797c81;
        align-items: center;
        margin: 0px 5px;
    }
    .playlist-creation i {
        background-color: #797c81;
        color: black;
        padding: 2px;
        margin-right: 5px;
    }
    .playlist-creation div {
        font-size: xx-small;
    }
    .mid-sidebar-elements {
        font-size: xx-small;
        color: #797c81;
    }
    .mid-sidebar-elements div {
        margin-top: 10px;
    }
    .small .ico-name {
        font-size: 10px;
    }
    .ico-user {
        font-size: small;
        margin-left: 10px;
        color: white;
        margin: 10px 10px;
    }
    hr {
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 769px) {
    .music-container {
        width: 12vw;
    }
    .row-100-40 {
        width: 40%;
    }

    .foalder-icons {
        align-items: center;
        flex-direction: row;
    }
    .controllers {
        width: 200px;
    }
    .vol {
        width: 0%;
        transition: all 0.5s;
    }
    .controllers {
        justify-content: end;
    }
    .controllers:hover .vol {
        width: 100%;
    }
    .played-music {
        width: 120px;
        margin-left: 10px;
    }
    .music-details, .music-name {
        font-size: small;
    }
}